@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.headIndex{
    text-align: center;
    color: white;
    font-size: 50px;
}

.iblock {
    display: inline-block;
}

.pIndex{
    text-align: center;
    color: white;
    font-size: 25px;
}

.pageInfo{
    color: white;
}

.body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body2{
    background-repeat: no-repeat;
}

.infoLink{
    color: white;
    float: right;
    cursor: crosshair;
}

.dshLink{
    color: white;
    float: right;
    cursor: crosshair;
}

.infoP1{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.infoP2{
    color: white;
    font-size: 25px;
    text-align: center;
}
.infoP3-staff{
    color:white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;

}
.staffInfo{
    color: white;
    padding-left: 3vh;
}

.parent {
    margin: 1rem;
    padding: 0 2rem;
    text-align: center;
}
.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

*{
    font-family: 'Raleway', sans-serif;
    color: white;
    stroke: black;
}
.footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    display: inline-block;
}

.authorImage {
    position: relative;
    padding-left: 3vh;
    width: 100px;
}

.footer {
    position: fixed;
    padding-left: 87vh;
}


